* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  background-color: #eee;
}
p {
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Start Home Page  */
.carousel-inner {
  height: 100%;
}
.carousel-item {
  background-color: #00bcd43d;
}
.carousel-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.carousel-caption {
  position: relative;
  color: red;
  right: 0;
  top: 0;
  left: 0;
  padding: 0;
}
.carousel-item img {
  width: 50% !important;
  height: 100%;
}
.sub-title p {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.sub-title button {
  border: none;
  padding: 5px 13px;
  border: 1px solid #444;
  border-radius: 18px;
  color: #444;
  font-weight: bold;
  transition: 0.4s;
}
.sub-title button:hover {
  background-color: #444;
  color: white;
}
.category-card-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Home Page  */
.categries-header {
  padding: 5px;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.categries-header .row .col-sm-12 div {
  color: #444;
  cursor: pointer;
  transition: 0.4s;
  width: 90px;
}
.categries-header .row .col-sm-12 div:hover {
  background-color: #444;
  color: white;
}
.card-filter {
  background-color: white;
  padding: 10px;
  width: 250px;
  margin-left: -77px;
  box-shadow: 17px 2px 15px #0000006b;
}
.card-filter div {
  padding: 10px 5px;
  transition: 0.4s;
}
.card-filter div:hover {
  color: white;
  background-color: #444;
}

.card-filter div:not(:last-child) {
  border-bottom: 1px solid #444;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  width: 65%;
  height: 340px;
  border-radius: 15px;
  object-fit: cover;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 35px;
}
.image-gallery {
  background-color: #eeeeee38;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 2px 10px 10px #eee;
}
.product-info-cat {
  color: silver;
  font-size: 22px;
}
.product-info-title {
  color: #444;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-info-rat {
  color: #ffc107;
  font-size: 22px;
  font-weight: bold;
}
.product-info-brand {
  color: silver;
  font-weight: bold;
  margin-top: 20px;
  font-size: 22px;
}
.product-info-brand .brand-name {
  color: #444;
  font-weight: normal;
}
.product-info-colors {
  display: flex;
  margin: 10px 0;
}
.product-info-colors-color {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}
.product-info-Specifications {
  color: silver;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-info-Specifications-text {
  color: #444;
}
.product-info-controls {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.product-info-controls-price {
  margin-right: 10px;
  padding: 10px;
  background-color: #eee;
  border-radius: 12px;
}
.ratings-container {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 10px #eee;
}
.ratnigs-title-rate {
  color: #ffc107;
}
.ratnigs-title-heading {
  font-weight: bold;
  font-size: 18px;
}
.product-cart {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 2px 4px 10px #0000007a;
}
.product-cart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-cart-info-quantity {
  width: 50px;
  margin-top: 15px;
}
.product-cart-info-price {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: #444;
  font-weight: bold;
  font-size: 24px;
}
.cart-check-out {
  width: 100%;
  height: 180px;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
}
.cart-check-out-coupon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.cart-check-out-coupon input {
  width: 70%;
  padding: 5px;
  border: none;
}
.cart-check-out-apply {
  border: none;
  padding: 5px;
  background-color: #444;
  color: white;
}
.cart-check-out-total {
  width: 100%;
  height: 35px;
  border: 1px solid black;
  margin: 25px 0;
  padding: 10px;
  text-align: center;
  line-height: 17px;
}
.admin-side-bar {
  background-color: #fff;
  width: 100%;
  height: 480px;
  padding: 10px;
}
.admin-side-bar-item {
  margin-bottom: 20px;
}
.admin-side-bar-item-link {
  text-decoration: none;
  color: #444;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
  font-size: 16px;
}
.admin-side-bar-item:hover .admin-side-bar-item-link {
  background-color: #444;
  color: white;
}
.ddmin-products-managment-card-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.ddmin-products-managment-card-icons p {
  cursor: pointer;
  color: #444;
}
.admin-order-details-user {
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
}
.admin-order-details-user-name,
.admin-order-details-user-phone,
.admin-order-details-user-email {
  color: #444;
  font-weight: bold;
  font-size: 20px;
}
.admin-order-details-user-name span,
.admin-order-details-user-phone span,
.admin-order-details-user-email span {
  color: silver;
  font-size: 18px;
  font-weight: normal;
}
.admin-order-details-user-actions {
  text-align: center;
  margin-top: 20px;
}
.admin-order-details-user-actions-total {
  border: 1px solid silver;
  margin-bottom: 10px;
  padding: 10px;
}
.admin-add-image p {
  color: silver;
  margin-bottom: 10px;
}
.admin-add-image img {
  width: 120px;
  height: 100px;
}
.admin-add-brand-name {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
}
