* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
p {
  margin-bottom: 0;
}
/* Start Home Page  */
.carousel-inner {
  height: 100%;
}
.carousel-item {
  background-color: #00bcd43d;
}
.carousel-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.carousel-caption {
  position: relative;
  color: red;
  right: 0;
  top: 0;
  left: 0;
  padding: 0;
}
.carousel-item img {
  width: 50% !important;
  height: 100%;
}
.sub-title p {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.sub-title button {
  border: none;
  padding: 5px 13px;
  border: 1px solid #444;
  border-radius: 18px;
  color: #444;
  font-weight: bold;
  transition: 0.4s;
}
.sub-title button:hover {
  background-color: #444;
  color: white;
}
.category-card-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Home Page  */
